<!DOCTYPE html>
<html>
    <head>
        <title>Boneless-v3 interface</title>
        <link rel="stylesheet" href="/static/css/bulma.css">
        <link rel="stylesheet" href="/static/css/extra.css">
        <link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />
        <script src="/static/js/axios.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="">
        <div class="container">
            <div id="app">
            <nav-bar></nav-bar> 
            <div class="columns">
                <div class="column is-one-fifth">
                    <menu-main v-bind:item-list="$store.getters.list"></menu-main>
                </div>
                <div class="column is-four-fifths">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            </div>
        </div>
    </body>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vuex.js"></script>
    <script src="/static/js/buefy.min.js"></script>
    <script src="/static/js/eb.js"></script>
    <script src="/widget.js"></script>
    <script src="/static/js/app.js"></script>
</html>
