<!DOCTYPE html>
<html>
    <head>
        <title>Boneless-v3 interface</title>
        <link rel="stylesheet" href="/static/css/bulma.css">
        <link rel="stylesheet" href="/static/css/extra.css">
        <link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />
        <script src="/static/js/axios.min.js"></script>
    </head>
    <body class="has-navbar-fixed-bottom has-navbar-fixed-top">
        <div id="app">
	    <nav-blob></nav-blob>
        </div>
    </body>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/buefy.min.js"></script>
    <script src="/static/js/app.js"></script>

</html>
